<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>879738785722-u9t07tgk4trfeamb92q06fb8f9n3tg7u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.879738785722-u9t07tgk4trfeamb92q06fb8f9n3tg7u</string>
	<key>API_KEY</key>
	<string>AIzaSyDTodDbsCkNQieBXiHmUg6O0Hd_mffbKac</string>
	<key>GCM_SENDER_ID</key>
	<string>879738785722</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>tan.nd.Covidcity1</string>
	<key>PROJECT_ID</key>
	<string>covidcity-1585012064634</string>
	<key>STORAGE_BUCKET</key>
	<string>covidcity-1585012064634.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:879738785722:ios:2be2b7f2e3167338b8d783</string>
	<key>DATABASE_URL</key>
	<string>https://covidcity-1585012064634.firebaseio.com</string>
</dict>
</plist>